body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

/* table */
table {
  width: 500px;
  height: 600px;
  border: 1px solid black;
}

tr,
td {
  border: 1px solid black;
}

td {
  padding: 8px 0 8px 8px;
}

textarea {
  max-height: 60px;
  min-height: 60px;
  resize: vertical;
}

.head {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

/* căn width cột trái */
.width-30 {
  width: 30%;
}

/* căn width cột phải */
.width-70 {
  width: 70%;
}

/* căn input */
.width-input {
  width: 95%;
  height: 20px;
}

/* BUTTON */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
